@import "normalize.css";

::-webkit-scrollbar {
    width: 0;
}

html {
    scroll-behavior: smooth;
    background: url(/img/wallpaper.jpg);
    animation: animatedBackground 160s linear infinite;
    -moz-animation: animatedBackground 160s linear infinite;
    -webkit-animation: animatedBackground 160s linear infinite;
    -o-animation: animatedBackground 160s linear infinite;

}

:root {
    /* ---color--- */
    --text: #385CA8;
    --text1: white;
    --shadow: rgb(255, 214, 0);
    --fon: rgba(193, 228, 232, 0.8);
    --border: rgba(255, 255, 255, 0.57);
    /* ---font--- */
    --font: Times New Roman;
    /* ---font-size--- */
    --text-size-title: ;
    --text-size-type:;
    --text-size-text:;


}
/* ---animation--- */

@keyframes animatedBackground {
0  {
    background-position: 0 0
}
100%  {
    background-position: -600px 600px /* анимируем свойство background-position */
}
}
/* Mozilla Firefox 5.0+ */
@-moz-keyframes animatedBackground {

0  {
    background-position: 0 0
}
100%  {
    background-position: -600px 600px
}
}
/* Safari 4.0+, Chrome 4.0+ */
@-webkit-keyframes animatedBackground {

0  {
    background-position: 0 0
}
100%  {
    background-position: -600px 600px
}
}
/* Opera 12.0+ */
@-o-keyframes animatedBackground {

0  {
    background-position: 0 0
}
100%  {
    background-position: -600px 600px
}
}

/* ---wrapper--- */

.container {
    background: rgba(193, 228, 232, 0.8);
    border-radius: 15px;
    border: 8px double rgba(255, 255, 255, 0.57);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: fadeIn 800ms ease-in-out 150ms both;
    margin: 5%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main {
    padding: 2%;
}

/* ---logo--- */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---input--- */

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

input:focus {
    filter: drop-shadow(0px 0px 5px rgb(255, 214, 0));
    border-radius: 10px;
    border-color: #385CA8;
    color: var(--text);
    outline: none;
}

input {
    width: 80%;
    border-radius: 10px;
    border: 3px solid #385CA8;
    color: var(--text);
    margin: 4% 0 2% 0;
    padding: 1.5% 0 1.5% 0;
    text-align: center;
    font-size: var(--text-size-text);
}

/* ---types--- */
.types-block {
text-align: center;
    align-items: center;
    justify-content: center;

}
.types-block button{
    outline: none;
    border: none;
    background: none;
}
.types-block button:focus, button:hover{
    filter: drop-shadow(0px 0px 5px rgb(255, 214, 0));
}

.type {
    text-transform: capitalize;
    margin: 2%;
    text-align: center;
    color: var(--text);
    font-weight: bold;
    font-family: var(--font);
    font-size: var(--text-size-type);

}

.type img {
    width: 70%;
    height: auto;
}

/* ---cards--- */
.all-card {
}

.all-card:after, .all-card:before {
    content: "";
    display: block;
    width: auto;
    height: 2px;
    margin-top: 10px;
    background-color: var(--text);
}

/* ---card-mini--- */

.card-mini-block{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.card-mini-title {
    text-transform: capitalize;
    margin: 1%;
    font-weight: bold;
    color: var(--text);
}

.card-mini{
    margin: 1%;
    padding: 2%;
    background: white;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.card-mini:hover{
    filter: drop-shadow(0px 0px 5px rgb(255, 214, 0));
}
.card-mini img{
    width: 200px;
    height: auto;
}
.card-mini-type img{
    width: 20%;
    height: auto;
}

.mini-type-grass:hover {
    padding: 1%;
    background: green;
    color: white;
    border-radius: 15px;
}

.mini-type-poison:hover {
    padding: 1%;
    background: purple;
    color: white;
    border-radius: 15px;
}

/* ---card-pokemon--- */
.card-pokemon {
    background: white;
    border-radius: 15px;
    border: 8px double rgba(255, 255, 255, 0.5);
    display: flex;
    position: relative;
    animation: fadeIn 800ms ease-in-out 150ms both;
    margin: 5%;
}

.card-pokemon-block {
    display: flex;
    padding: 2%;
}

.card-pokemon-block-1 {
    flex-basis: 40%;
    padding: 2%;
}
.card-pokemon-block-1 img{
 width: 350px;
    height: auto;
}

.card-pokemon-block-2 {
    border-left: 2px solid #385CA8;
    flex-basis: 60%;
    padding: 2%;
}

.card-pokemon-name {
    display: flex;
    text-transform: capitalize;
    color: var(--text);
    font-weight: bold;
    font-size: 30px;
    margin: 1%;
}

.card-pokemon-name-number {
    border-left: 2px solid var(--text);
    border-right: 2px solid var(--text);
    flex-basis: 10%;
    padding: 2%;
}

.card-pokemon-name-name {
    flex-basis: 90%;
    padding: 2%;
}

.card-pokemon-title{
    display: flex;
    margin: 5px;
    align-items: center;
}

.card-pokemon-title:after, .card-pokemon-title:before {
    content: '';
    flex: 1;
    border-bottom: 2px solid var(--text);
}
Link, a, Link:hover, Link:focus, a:focus{
    outline: none;
}

.loading{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 5%;
    color: var(--text);
    font-weight: bold;
    font-size: 45px;
}
.loading:hover{
    filter: drop-shadow(0px 0px 5px rgb(255, 214, 0));
}
.loading img{
    width: 40px;
    height: auto;
    animation: loading 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}